apiVersion: v1
data:
  user: "{{ monitoring_grafana_user | b64encode }}"
  password: "{{ monitoring_grafana_password | b64encode }}"
kind: Secret
metadata:
  name: grafana-credentials
  namespace: monitoring
type: Opaque
