apiVersion: v1
kind: Secret
metadata:
  name: tls-secret
  labels:
    k8s-app: haproxy-ingress-lb
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
type: Opaque
