apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-watch-config
  namespace: kube-system
data:
  .kubewatch.yaml: |
    handler:
      slack:
        token: "{{ watch_vars.slack.token }}"
        channel: "{{ watch_vars.slack.channel }}"
    resource:
      deployment: {{ watch_vars.resources.dp }}
      replicationcontroller: {{ watch_vars.resources.rc }}
      replicaset: {{ watch_vars.resources.rs }}
      daemonset: {{ watch_vars.resources.ds }}
      services: {{ watch_vars.resources.svc }}
      pod: {{ watch_vars.resources.pod }}
