apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: kube-proxy
  labels:
    k8s-app: kube-proxy
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: kube-proxy
  template:
    metadata:
      labels:
        k8s-app: kube-proxy
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoSchedule
        key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
      containers:
      - name: "{{ images.proxy.name }}"
        image: "{{ images.proxy.repos }}{{ images.proxy.name }}:{{ images.proxy.tag }}"
        command:
        - "/usr/local/bin/kube-proxy"
        - "--kubeconfig=/run/admin.conf"
        - "--cluster-cidr={{ pod_network_cidr }}"
        - "--proxy-mode={{ kube_proxy_mode }}"
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /run/admin.conf
          name: kubeconfig
        - mountPath: {{ kube_etc_dir }}
          name: pki
      dnsPolicy: ClusterFirst
      hostNetwork: true
      restartPolicy: Always
      serviceAccountName: kube-proxy
      terminationGracePeriodSeconds: 30
      volumes:
      - name: kubeconfig
        hostPath:
          path: {{ kubeadmin_config }}
      - name: pki
        hostPath:
          path: {{ kube_etc_dir }}
  templateGeneration: 1
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
