kind: Pod
apiVersion: v1
metadata:
  name: kube-controller-manager
  namespace: kube-system
  labels:
    component: kube-controller-manager
    tier: control-plane
spec:
  volumes:
  - name: pki
    hostPath:
      path: "/etc/kubernetes"
  containers:
  - name: kube-controller-manager
    image: "{{ controller_image }}"
    command:
    - "kube-controller-manager"
    - "--v=0"
    - "--address=127.0.0.1"
    - "--leader-elect={{ leader_elect }}"
    - "--leader-elect-lease-duration={{ leader_elect_lease_duration }}"
    - "--leader-elect-renew-deadline={{ leader_elect_renew_deadline }}"
    - "--leader-elect-retry-period={{ leader_elect_retry_period }}"
    - "--pod-eviction-timeout={{ pod_eviction_timeout }}"
    - "--master={{ lb_api_url }}"
    - "--cluster-name={{ cluster_name }}"
    - "--kubeconfig={{ kubeadmin_config }}"
    - "--root-ca-file={{ ca_cert }}"
    - "--service-account-private-key-file={{ account_key }}"
    - "--cluster-signing-cert-file={{ ca_cert }}"
    - "--cluster-signing-key-file={{ ca_key }}"
    resources:
      requests:
        cpu: 200m
    volumeMounts:
    - name: pki
      readOnly: true
      mountPath: "/etc/kubernetes/"
    livenessProbe:
      httpGet:
        path: "/healthz"
        port: 10252
        host: 127.0.0.1
      initialDelaySeconds: 15
      timeoutSeconds: 15
  hostNetwork: true
