[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target

[Service]
Type=notify
EnvironmentFile=-{{ config_dir }}/docker
EnvironmentFile=-{{ config_dir }}/docker-storage
EnvironmentFile=-{{ config_dir }}/docker-network
ExecStart=/usr/bin/dockerd {% if ansible_os_family == 'Debian' -%} -H fd:// {% endif -%} \
                        $OPTIONS \
                        $DOCKER_STORAGE_OPTIONS \
                        $DOCKER_OPTS \
                        $DOCKER_NETWORK_OPTIONS \
                        $ADD_REGISTRY \
                        $BLOCK_REGISTRY \
                        $INSECURE_REGISTRY

ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
#TasksMax=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
