[Unit]
Description=Docker Engine
After=network.target

[Service]
Type=notify
EnvironmentFile=-{{ env_config_dir }}/docker
ExecStart=/usr/bin/dockerd {% if ansible_os_family == 'Debian' -%} -H fd:// {% endif -%} \
                        $OPTIONS \
                        $DOCKER_STORAGE_OPTIONS \
                        $DOCKER_OPTS \
                        $DOCKER_NETWORK_OPTIONS \
                        $ADD_REGISTRY \
                        $BLOCK_REGISTRY \
                        $INSECURE_REGISTRY

ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
