{% macro initial_cluster() -%}
{% for host in groups[etcd_group] -%}
  {{ hostvars[host]['ansible_hostname'] }}=https://
  {%- if etcd_iface != "" -%}
    {{ hostvars[host]['ansible_' + etcd_iface].ipv4.address }}
  {%- else -%}
    {{ hostvars[host].ansible_default_ipv4.address }}
  {%- endif -%}
:{{ etcd_peer_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}
# [member]
ETCD_NAME={{ ansible_hostname }}
ETCD_DATA_DIR={{ etcd.dir.data }}
ETCD_PROXY=off

# [cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_INITIAL_CLUSTER={{ initial_cluster() }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_token }}
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}
ETCD_LISTEN_CLIENT_URLS="{{ etcd_listen_client_urls }}"

# [security]
ETCD_AUTO_TLS="true"
ETCD_PEER_AUTO_TLS="true"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{ etcd.certs.ca }}"
ETCD_CERT_FILE="{{ etcd.certs.cert }}"
ETCD_KEY_FILE="{{ etcd.certs.cert_key }}"
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd.certs.ca }}"
ETCD_PEER_CERT_FILE="{{ etcd.certs.cert }}"
ETCD_PEER_KEY_FILE="{{ etcd.certs.cert_key }}"
