[Unit]
Description=Etcd Service
After=network.target

[Service]
EnvironmentFile=-{{ etcd.dir.etc }}/etcd.conf
Type=notify
User=etcd
PermissionsStartOnly=true
ExecStart={{ dir.bin }}/etcd
Restart={{ systemd.restart }}
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=etcd3.service
