apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-policy-controller
  namespace: kube-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-cni-plugin
  namespace: kube-system
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: calico-config
  namespace: kube-system
data:
  etcd_endpoints: "{{ etcd_endpoints }}"
  calico_backend: "bird"
  cni_network_config: |-
    {
        "name": "k8s-pod-network",
        "cniVersion": "0.1.0",
        "type": "calico",
        "etcd_endpoints": "__ETCD_ENDPOINTS__",
        {% if etcd_peer_url_scheme == 'https' -%}
        "etcd_ca_cert_file": "{{ etcd_ca_file }}",
        "etcd_cert_file": "{{ etcd_cert_file }}",
        "etcd_key_file": "{{ etcd_key_file }}",
        {% endif -%}
        "log_level": "info",
        "ipam": {
            "type": "calico-ipam"
        },
        "policy": {
            "type": "k8s"
        },
        "kubernetes": {
            "kubeconfig": "{{ kubeadmin_config }}"
        }
    }
---
kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: calico-node
  namespace: kube-system
  labels:
    k8s-app: calico-node
spec:
  selector:
    matchLabels:
      k8s-app: calico-node
  template:
    metadata:
      labels:
        k8s-app: calico-node
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      hostNetwork: true
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      - key: CriticalAddonsOnly
        operator: Exists
      serviceAccountName: calico-cni-plugin
      containers:
      - name: calico-node
        image: quay.io/calico/node:v2.6.0
        env:
          - name: CLUSTER_TYPE
            value: "k8s,bgp"
          - name: ETCD_ENDPOINTS
            valueFrom:
              configMapKeyRef:
                name: calico-config
                key: etcd_endpoints
          - name: CALICO_NETWORKING_BACKEND
            valueFrom:
              configMapKeyRef:
                name: calico-config
                key: calico_backend
          - name: CALICO_DISABLE_FILE_LOGGING
            value: "true"
          - name: FELIX_DEFAULTENDPOINTTOHOSTACTION
            value: "ACCEPT"
          - name: FELIX_HEALTHENABLED
            value: "true"
          - name: CALICO_IPV4POOL_CIDR
            value: "{{ pod_network_cidr }}"
          - name: CALICO_IPV4POOL_IPIP
            value: "always"
          {% if etcd_peer_url_scheme == 'https' -%}
          - name: ETCD_CA_CERT_FILE
            value: "{{ etcd_ca_file }}"
          - name: ETCD_KEY_FILE
            value: "{{ etcd_key_file }}"
          - name: ETCD_CERT_FILE
            value: "{{ etcd_cert_file }}"
          {% endif -%}
          - name: FELIX_IPV6SUPPORT
            value: "false"
          - name: FELIX_LOGSEVERITYSCREEN
            value: "info"
          {% if cni_iface != '' -%}
          - name: IP_AUTODETECTION_METHOD
            value: "{{ cni_iface }}"
          - name: IP6_AUTODETECTION_METHOD
            value: "{{ cni_iface }}"
          {% endif -%}
          - name: IP
            value: ""
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 250m
        volumeMounts:
          - mountPath: /lib/modules
            name: lib-modules
            readOnly: true
          - mountPath: /var/run/calico
            name: var-run-calico
            readOnly: false
          - name: pki
            mountPath: "/etc/kubernetes/"
            readOnly: true
      - name: install-cni
        image: quay.io/calico/cni:v1.11.0
        command: ["/install-cni.sh"]
        env:
          - name: ETCD_ENDPOINTS
            valueFrom:
              configMapKeyRef:
                name: calico-config
                key: etcd_endpoints
          {% if etcd_peer_url_scheme == 'https' -%}
          - name: ETCD_CA_CERT_FILE
            value: "{{ etcd_ca_file }}"
          - name: ETCD_KEY_FILE
            value: "{{ etcd_key_file }}"
          - name: ETCD_CERT_FILE
            value: "{{ etcd_cert_file }}"
          {% endif -%}
          - name: CNI_NETWORK_CONFIG
            valueFrom:
              configMapKeyRef:
                name: calico-config
                key: cni_network_config
        volumeMounts:
          - mountPath: /host/opt/cni/bin
            name: cni-bin-dir
          - mountPath: /host/etc/cni/net.d
            name: cni-net-dir
          - name: pki
            mountPath: "/etc/kubernetes/"
            readOnly: true
      volumes:
        - name: pki
          hostPath:
            path: "/etc/kubernetes"
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: var-run-calico
          hostPath:
            path: /var/run/calico
        - name: cni-bin-dir
          hostPath:
            path: /opt/cni/bin
        - name: cni-net-dir
          hostPath:
            path: /etc/cni/net.d
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: calico-policy-controller
  namespace: kube-system
  labels:
    k8s-app: calico-policy
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
    scheduler.alpha.kubernetes.io/tolerations: |
      [{"key": "dedicated", "value": "master", "effect": "NoSchedule" },
       {"key":"CriticalAddonsOnly", "operator":"Exists"}]
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      name: calico-policy-controller
      namespace: kube-system
      labels:
        k8s-app: calico-policy
    spec:
      hostNetwork: true
      serviceAccountName: calico-policy-controller
      containers:
      - name: calico-policy-controller
        image: quay.io/calico/kube-controllers:v1.0.0
        env:
          - name: ETCD_ENDPOINTS
            valueFrom:
              configMapKeyRef:
                name: calico-config
                key: etcd_endpoints
          {% if etcd_peer_url_scheme == 'https' -%}
          - name: ETCD_CA_CERT_FILE
            value: "{{ etcd_ca_file }}"
          - name: ETCD_CERT_FILE
            value: "{{ etcd_key_file }}"
          - name: ETCD_KEY_FILE
            value: "{{ etcd_cert_file }}"
          {% endif -%}
          - name: CONFIGURE_ETC_HOSTS
            value: "true"
        volumeMounts:
          - name: pki
            mountPath: "/etc/kubernetes/pki"
            readOnly: true
      volumes:
        - name: pki
          hostPath:
            path: "/etc/kubernetes/pki"
