[Unit]
Description=Docker Engine
After=network.target docker.socket

[Service]
Type=notify
ExecStart={{ bin_dir }}/dockerd -H fd:// --containerd=/run/containerd/containerd.sock 

ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
