kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: traefik-ingress-lb
  labels:
    k8s-app: traefik-ingress-lb
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  template:
    metadata:
      labels:
        k8s-app: traefik-ingress-lb
        name: traefik-ingress-lb
    spec:
      serviceAccountName: traefik-ingress-lb-sa
      terminationGracePeriodSeconds: 60
      containers:
      - name: traefik-ingress-lb
        image: traefik
        ports:
        - name: http
          containerPort: 80
          hostPort: 80
        - name: admin
          containerPort: 8580
          hostPort: 8580
        securityContext:
          privileged: true
        args:
        - -d
        - --web
        - --web.address=:8580
        - --kubernetes
