---

- name: Create sigil component symlinks
  file:
    src: "{{ sigil.dir }}/{{ sigil.name }}"
    dest: "/usr/bin/{{ sigil.name }}"
    state: link
    force: yes

- name: Create and copy generator config file
  include: generator.yml

- name: Deploy ceph components on Kubernetes
  include: components.yml

# - name: Label all storage nodes
#   shell: "kubectl label nodes node-type=storage"
#   delegate_to: "{{ groups['masters'][0] }}"
#   run_once: true
#   ignore_errors: true
