apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ api_lb_ip }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet-devmaster
  name: kubelet-devmaster@kubernetes
current-context: kubelet-devmaster@kubernetes
kind: Config
users:
- name: kubelet-devmaster
  user:
    client-certificate: {{ node_cert }}
    client-key: {{ node_key }}
