{
    "name": "calico-k8s-network",
    "type": "calico",
    "etcd_endpoints": "{% for node in groups['etcd'] %}{{ etcd_peer_url_scheme }}://{{ node }}:2379{% if not loop.last %},{% endif %}{% endfor %}",
    {% if etcd_peer_url_scheme == 'https' -%}
    "etcd_ca_cert_file": "{{ etcd_peer_ca_file }}",
    "etcd_cert_file": "{{ etcd_peer_cert_file }}",
    "etcd_key_file": "{{ etcd_peer_key_file }}",
    {% endif -%}
    "log_level": "info",
    "ipam": {
        "type": "calico-ipam"
    },
    "policy": {
        "type": "k8s"
    },
    "kubernetes": {
        "kubeconfig": "{{ kubeadmin_config }}"
    }
}
