# Calico configuration options
# Etcd enpoints
ETCD_ENDPOINTS="{% for node in groups['etcd'] %}{{ etcd_peer_url_scheme }}://{{ node }}:2379{% if not loop.last %},{% endif %}{% endfor %}"

# Calico node docker image
CALICO_NODE_IMAGE="{{ images.calico_node.repos }}{{ images.calico_node.name }}:{{ images.calico_node.tag }}"

# Calico node Etcd cert files
ETCD_CA_CERT_FILE="{{ etcd_peer_ca_file }}"
ETCD_CERT_FILE="{{ etcd_peer_cert_file }}"
ETCD_KEY_FILE="{{ etcd_peer_key_file }}"
