kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kibana-anonymous-proxy
rules:
- apiGroups:
  - ""
  resources:
  - "services/proxy"
  resourceNames:
  - "kibana-logging"
  verbs:
  - get
  - create
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kibana-anonymous-proxy-binding
  namespace: ""
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kibana-anonymous-proxy
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: system:anonymous
