apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{ bootstrap_token_id }}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-id: "{{ bootstrap_token_id }}"
  token-secret: "{{ bootstrap_token_secret }}"
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
  auth-extra-groups: system:bootstrappers:default-node-token
