apiVersion: v1
kind: ConfigMap
metadata:
  name: kubewatch
  namespace: kube-system
data:
  .kubewatch.yaml: |
    handler:
      slack:
        token: "{{ watch.slack.token }}"
        channel: "{{ watch.slack.channel }}"
    resource:
      deployment: {{ resources.deploy }}
      replicationcontroller: {{ resources.rc }}
      replicaset: {{ resources.rs }}
      daemonset: {{ resources.ds }}
      services: {{ resources.svc }}
      pod: {{ resources.pod }}
---
apiVersion: v1
kind: Pod
metadata:
  name: kubewatch
  namespace: kube-system
  labels:
    k8s-app: kubewatch
    kubernetes.io/cluster-service: "true"
spec:
  containers:
  - name: kubewatch
    image: tuna/kubewatch:v0.0.1
    imagePullPolicy: Always
    volumeMounts:
    - name: config-volume
      mountPath: /root
  - image: gcr.io/skippbox/kubectl:v1.3.0
    args:
      - proxy
      - "-p"
      - "8080"
    name: proxy
    imagePullPolicy: Always
  restartPolicy: Always
  volumes:
  - name: config-volume
    configMap:
      name: kubewatch
