apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ api_lb_ip }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: admin@kubernetes
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet@kubernetes
current-context: admin@kubernetes
kind: Config
users:
- name: admin
  user:
    client-certificate: {{ admin_cert }}
    client-key: {{ admin_key }}
