apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: kube-proxy
  labels:
    k8s-app: kube-proxy
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: kube-proxy
  templateGeneration: 1
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: kube-proxy
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: kube-proxy-sa
      containers:
      - name: kube-proxy-amd64
        image: "gcr.io/google_containers/kube-proxy-amd64:v{{ kube_version }}"
        command:
        - "/usr/local/bin/kube-proxy"
        - "--kubeconfig=/run/admin.conf"
        - "--cluster-cidr={{ pod_network_cidr }}"
        - "--proxy-mode={{ kube_proxy_mode }}"
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /run/admin.conf
          name: kubeconfig
        - mountPath: {{ kube_etc_dir }}
          name: pki
      dnsPolicy: ClusterFirst
      hostNetwork: true
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
      - name: kubeconfig
        hostPath:
          path: {{ kubeadmin_config }}
      - name: pki
        hostPath:
          path: {{ kube_etc_dir }}
