global_defs {
        router_id your_hostname
        vrrp_version 2
        vrrp_garp_master_delay 1
        vrrp_garp_master_refresh
    }

    vrrp_script chk_haproxy {
        script       "ss -ltn 'src {{ keepalived_check_ip }}' | grep ':{{ keepalived_check_port }}'"
        timeout 1
        interval 1
        fall 2
        rise 2
    }

    vrrp_instance lb-vips {
        state BACKUP
        interface {{ keepalived_vip_interface }}
        virtual_router_id {{ keepalived_check_vid }}
        priority 100
        advert_int 1
        nopreempt
        track_script {
            chk_haproxy
        }
        authentication {
            auth_type PASS
            auth_pass blahblah
        }
        virtual_ipaddress {
            {{ lb_vip_address }}/{{ keepalived_check_vmask }} dev {{ keepalived_vip_interface }}
        }
    }
