apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ lb_api_url }}
users:
- name: admin
  user:
    client-certificate: {{ admin_cert }}
    client-key: {{ admin_key }}
contexts:
- name: admin-context
  context:
    cluster: kubernetes
    user: admin
current-context: admin-context
