apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority: {{ ca_cert }}
    server: {{ lb_api_url }}
users:
- name: kubelet
  user:
    client-certificate: {{ node_cert }}
    client-key: {{ node_key }}
contexts:
- name: kubelet-context
  context:
    cluster: kubernetes
    user: kubelet
current-context: kubelet-context
