# Kubernetes kubelet config
KUBELET_ADDRESS="--address=0.0.0.0 --port=10250"

# Pod infrastructure container
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image={{ images.pod_infra.repos }}{{ images.pod_infra.name }}:{{ images.pod_infra.tag }}"

# Log level
KUBE_LOGTOSTDERR="--logtostderr=true --v=0"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged=true"

# Kubernetes kubelet for CNI
KUBELET_NETWORK_ARGS="--network-plugin=cni --cni-conf-dir={{ cni_etc_dir }} --cni-bin-dir=/opt/cni/bin"

# DNS args
KUBELET_DNS_ARGS="--cluster-dns={{ dns_ip }} --cluster-domain={{ dns_name }}"

# Other args
KUBELET_ARGS="--kubeconfig={{ kubelet_config }} \
              --require-kubeconfig=true \
              --eviction-max-pod-grace-period=30 \
              --eviction-pressure-transition-period=5m0s \
              --pod-manifest-path={{ kube_manifest_dir }} \
              --image-gc-high-threshold=60 \
              --image-gc-low-threshold=40"
