[Unit]
Description=Kubernetes containerd CRI shim
Requires=network-online.target
After=containerd.service

[Service]
ExecStartPost=/sbin/iptables -A FORWARD -s 0.0.0.0/0 -j ACCEPT
ExecStart={{ dir.bin }}/cri-containerd --logtostderr --stream-addr 127.0.0.1
Restart={{ systemd.restart }}
RestartSec=5

[Install]
WantedBy=multi-user.target
